body {
    font: .75em/1.5 'Arial',sans-serif;
    color: #333;
    background: #9AE4E8 url('/static/bg.gif') no-repeat fixed left top;
}

#front #content {
    background: transparent url('/static/arr2.gif') no-repeat scroll 25px 0;
}

#content {
    width: 66em;
    padding-bottom: 0;
    margin: auto;
}

body#front .wrapper {
    background: #fff none repeat scroll 0;
    float: left;
    width: 66em;
}

.wrapper {
    padding: 5px 10px 15px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

#header {
    margin: auto;
    width: 66em;
    padding-left: 15px;
}

#noMargin {
    margin: 0px;
}

.heading {
    text-align: center;
}

p a.join:hover {
    text-decoration: none;
}
p a.join {
    text-decoration: none;
    display: block;
    width: 9.5em;
    text-align: center;
    margin: 1em auto .5em;
    background-color: #97cd39;
    color: #fff;
    font-size: 1.5em;
    padding: 4px;
    border: 1px solid #000;
}

.intro p, .intro ul {
    font-size: 1.2em;
    line-height: 1.3;
    color: #000;
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

.customtopRight {
    float: right;
    width: calc( 30% - 20px );
    padding: 5px;
    background-color: #e8fcd7;
    border-left: 3px solid #cee1ba;
    border-bottom: 3px solid #cee1ba;
    margin-top: -5px;
    margin-right: -10px;
    height: 100em;
}

.customtopLeft {
    float: left;
    width: calc( 70% - 20px );
    padding: 5px;

}

input.text_field {
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 8px;
    width: 200px;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#signin {
    float: right;
    margin: .45em 0;
}

fieldset {
    margin: 10px 0;
}

#signin legend {
    font-size: 1.2em;
    font-weight: bold;
}

#signin p {
    margin: 5px 0;
}

fieldset label {
    white-space: nowrap;
    font-weight: normal;
}

#signin input {
    width: 173px;
}

#signin .forgot {
    clear: both;
    padding: .5em 0;
    font-size: .85em;
}

#signin .forgot a {
    color: #333;
    text-decoration: underline;
}

#signin p.submit input {
    cursor: pointer;
}

#signin .submit {
    float: right;
}

#signin .remember {
    float: left;
    font-size: .85em;
    padding: .6em 0 0;
}

#signin p.complete {
    font-size: .85em;
    text-align: center;
    background-color: #e8fecd;
    border: 1px solid #a9bf74;
    padding: 4px 20px;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #0084b4;
}

#signin .remember input, #signin .submit input {
    width: auto;
    color: #333;
}

fieldset label {
    white-space: nowrap;
    font-weight: normal;
}

input.submit, button, input[type="submit"], input[type="button"], input[type="file"] > input[type="button"] {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
    padding-top: 1px solid #fff;
    font-size: 1em;
    padding: 4px 8px 4px 8px;
}

#whatistwitter {
    float: left;
    background-color: #afeff1;
    padding: 30px 0;
    margin: 0 auto;
    width: 762px;
}

#footer {
    background-color: #fff;
    width: 762px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

#footer {
    clear: left;
    text-align: center;
    padding: 8px 0;
    line-height: 1;
    display: inline-block;
}

.settings {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    float: right;
    display: inline-block;
    margin-top: 5px;
}

#accessibility, #navigation h3, #footer h3 {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

.altbg {
    background-color: #f3feeb;
    padding: 5px;
}

#floatRight {
    float: right;
}

#textlimit {
    float: right;
    font-size: 1em;
    padding-top: 5px;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

#pfp {
    width: 48px;
    height: 48px;
    float: left;
    vertical-align: text-top;
}

#footer li {
    display: inline;
    padding: 0 4px;
}

p.teaser {
    font-size: 1.5em;
    padding: 0 4px;
}

#front #content h2 {
    font-size: 2em;
    color: #000;
    line-height: 1.0;
    margin: 0;
    padding: 0;
}

fieldset, img {
    border-width: 0;
    border-color: transparent;
}

#signup-form table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

#signup-form th {
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #666;
    padding-right: 10px;
    line-height: 42px;
    width: 180px;
}

label {
    color: #666;
    width: 100%;
}

#signup-form td.col-field {
    width: 200px;
}

input.text_field {
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 8px;
    width: 200px;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#signup-form td.col-help {
    width: 250px;
}

#signup-form tr.screen-name th, #signup-form tr.screen-name td {
    padding-bottom: 0;
}

#signup-form #screen_name_url {
    font-size: 10px;
    display: block;
    color: #666;
    padding-top: .3em;
}

#signup-form th {
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #666;
    padding-right: 10px;
    line-height: 42px;
    width: 180px;
}

#signup-form tr.email-updates td {
    color: #666;
}

#signup-form tr.email-updates td #scoop {
    width: 450px;
}

#signup-form tr.email-updates td input, #signup-form tr.email-updates td label {
    vertical-align: middle;
}

.input-form tr th label {
    font-size: 1.1em;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input.green-arrow, input.green-arrow:hover {
    background-image: url('/static/btn_green_arrow.gif') !important;
    width: 234px !important;
    background-color: transparent;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

b {
    font-family: Georgia, serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input.flow-button, input.flow-button:hover {
    height: 41px;
    padding: 0 10px 2px 0;
    border: 0;
    font-size: 20px;
    background-color: transparent;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#cols {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#blue {
    color: #6d94c8;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a {
    font-weight: bold;
    text-decoration: underline;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#feed td, #feed th, #feed tr {
    border-bottom: 1px solid lightgray;
    word-wrap: break-word;
    overflow-wrap: break-word;
    vertical-align: top;
}

#feed td, #feed th, #feed tr {
    width: 493px;
}

#feed table, #feed tbody {
    display: inline-block;
    width: 544px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    table-layout: fixed;
}

#feedtext {
    word-break: break-all;
    overflow-wrap: break-word !important;
    width: 493px !important;
}

#feedtext img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

#feedtext a {
    word-break: keep-all;
}

a {
    word-break: keep-all;
    color: blue;
}

#red {
    color: red;
}

#feed td:hover {
    background-color: whitesmoke;
}